<div>
  <p>
    <%= link_to image_tag("dota22.jpeg", width: Settings.games.images.dota.width, height: Settings.games.images.dota.height ), Settings.games.links.dota %>
  </p>
  <p>
    <%= link_to image_tag("genshin.jpg", width: Settings.games.images.genshin.width, height: Settings.games.images.genshin.height ), Settings.games.links.genshin %>
  </p>
  <p>
    <%= link_to image_tag("fortnite.jpg", width: Settings.games.images.fortnite.width, height: Settings.games.images.fortnite.height ), Settings.games.links.fortnite %>
  </p>
  <p>
    <%= link_to image_tag("gta.jpg", width: Settings.games.images.gta.width, height: Settings.games.images.gta.height ), Settings.games.links.gta %>
  </p>
  <p>
    <%= link_to image_tag("pubg.png", width: Settings.games.images.pubg.width, height: Settings.games.images.pubg.height ), Settings.games.links.pubg %>
  </p>
  <p>
  	<%= link_to image_tag("CSGo.jpg", width: Settings.games.images.CSGo.width, height: Settings.games.images.CSGo.height ), Settings.games.links.CSGo %>
  </p>
  <p>
  	<%= link_to image_tag("slamdunk.jpg", width: Settings.games.images.slamdunk.width, height: Settings.games.images.slamdunk.height ), Settings.games.links.slamdunk %>
  </p>
  <p>
  	<%= link_to image_tag("falcom.png", width: Settings.games.images.falcom.width, height: Settings.games.images.falcom.height ), Settings.games.links.falcom %>
  </p>
</div>
